@import "bootstrap/styles";
@import "horizon/styles";

/* Ubuntu styles */
body,
.page-header {
	font-family: Ubuntu, Arial, "libra sans", sans-serif;
	font-weight: 300;
}

a,
a:link,
a:visited {
  color: $brand-color;
}

.topbar,
.topbar .switcher_bar .btn.btn-topnav,
.navbar-default {
	background: $brand-color;
}

.navbar-default .navbar-nav > li > a {
	border-color: $brand-color;
	color: $white !important;

	&:hover,
	&:focus {
		border-color: $topbar-link-hover;
		background: $topbar-link-hover;
		color: $white;
	}
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: $topbar-link-hover;
	color: $white;
}

.navbar-brand {
	background-image: url("../img/ubuntu.png");
	background-position: 20px 4px;
	background-repeat: no-repeat;

	img {
		opacity: 0;
	}
}

.d3_pie_chart_usage .arc.inner {
	fill: $brand-color;
}

.container-fluid {
    padding-bottom: 5px;
    padding-top: 5px;
}

.btn-primary {
	background: $brand-color;
	border-color: darken($brand-color, 5%);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
	background: lighten($brand-color, 5%);
	border-color: $brand-color;
}

.nav_accordion dt li a.active,
.nav_accordion dd li a.active {
	  border-left: 4px solid $brand-color;
	  color: $brand-color;
}

#splash {
	background: url("../img/image-background-pattern.png");
	background: linear-gradient(to right, rgba(100, 100, 100, 0.2), transparent), url("../img/image-background-pattern.png");

	.login {
		background-color: $white;
		background-image: url("../img/logo-ubuntu-orange.png");
		padding-top: 125px;
		-moz-box-shadow: 0px 1px 3px 1px rgba(51,51,51,0.2);
		-webkit-box-shadow: 0px 1px 3px 1px rgba(51,51,51,0.2);
		box-shadow: 0px 1px 3px 1px rgba(51,51,51,0.2);

		&:after {
			content: "Openstack Dashboard";
			position: absolute;
			top: 70px;
			color: $brand-color;
			display: block;
			text-align: center;
			width: 100%;
			font-size: 21px;
		}
	}
}
