@import "bootstrap/variables";
@import "horizon/variables";
@import "/horizon/lib/font-awesome/scss/variables";

/* Custom Variables */
$font-size-base: 16px;
$brand-color: #dd4814;
$topbar-link-hover: #ec5b29;
$white: #fff;
